#                                      Python Day1

In [2]:
print("Hello, World!")

Hello, World!

In [4]:
#!/bin/python

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(input().strip())
    if n%2!=0:
        print("Weird")
    elif n>=2 and n<=5:
        print("Not Weird")
    elif n>=6 and n<=20:
        print("Weird")
    else:
        print("Not Weird")

10
Weird

In [8]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

10
20
30
-10
200

In [10]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

10
20
0
0.5

In [12]:
if __name__ == '__main__':
    n = int(input())
    for i in range(0,n):
        print(i**2)

5
0
1
4
9
16

In [13]:
def is_leap(year):
    leap = False
    if  year%100==0 and year%400!=0:
        leap=False
    elif year%4==0:
        leap=True
    # Write your logic here
    
    return leap

year = int(input())
print(is_leap(year))

1990
False

In [14]:
if __name__ == '__main__':
    n = int(input())
    for i in range(1,n+1):
        print(str(i),end="")

5
12345